<header class="site-header">

  <div class="wrap">
    <a class="site-title" href="/travaux/"><img src="https://raw.githubusercontent.com/Mariecie/Mariecie.github.io/master/images/francois-dufeil.jpg" alt="site internet de Fran&ccedil;ois Dufeil"></a>
    
    <nav class="navbar">
      <div class="container">
       <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
           {% assign current = page.url | downcase | split: '/' %}
            <li {% if current[1] == 'travaux' %} class='current'{% endif %}><a href="{{ site.baseurl }}/travaux/">travaux</a></li>
	    <li {% if current[1] == 'expositions' %} class='current'{% endif %}><a href="{{ site.baseurl }}/expositions">expositions</a></li>            
	    <li {% if current[1] == 'biographie' %} class='current'{% endif %}><a href="{{ site.baseurl }}/biographie">biographie</a></li>
	    <li {% if current[1] == 'textes/documents' %} class='current'{% endif %}><a href="{{ site.baseurl }}/textes/documents">textes/documents</a></li>
	    <li {% if current[1] == 'contact' %} class='current'{% endif %}><a href="{{ site.baseurl }}/contact">contact</a></li>
          </ul>
       </div><!--/.nav-collapse -->
      </div>
    </nav>
  </div>
</header>




