<header class="site-header">

  <div class="wrap">
    <a class="site-title" href="{{ site.baseurl }}/"><img src="https://www.dropbox.com/s/vzmrz14rfida222/FD.jpg?raw=1"></a>
    
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Projets</a></li>
            <li><a href="/biographie">Biographie</a></li>
		 <li><a href="/expositions">Expositions</a></li>            
		 <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </nav>

</header>
