<header class="site-header">

  <div class="wrap">
    <a class="site-title" href="/blog/"><img src="https://www.dropbox.com/s/hbbctfyk9604s2u/titre-6.jpg?raw=1"></a>
    
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
		<div class="dropdown">
            <li class="active">
		   <a href="/blog/">Projets</a>
		   <div class="dropdown-content">
			<a href="/2015/10/10/Fievre-obsidionale/">Fi&egrave;vre obsidionale</a>
			<a href="/2015/10/10/Folie-obsidionale/">Folie obsidionale</a>
		   </div>
		 </li>
		</div>
		 <li><a href="/expositions">Expositions</a></li>            
		 <li><a href="/biographie">Biographie</a></li>
		 <li><a href="/contact">Contact</a></li>
		   
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </nav>

</header>
