---
layout: default
---
<div class="post">
  
<div class="post-nav">
    {% if page.next.url %}
      <a href="{{ page.next.url }}">&laquo; Pr&eacute;c&eacute;dent</a>
    {% endif %}
    {% if page.previous.url and page.next.url %}
      |
    {% endif %}
    {% if page.previous.url %}
      <a href="{{ page.previous.url }}">Suivant &raquo;</a>
    {% endif %}
  </div>
<br>

  <header class="post-header">
    <h1 class="post-title2">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

<div class="post-nav">
    {% if page.next.url %}
      <a href="{{ page.next.url }}">&laquo; Pr&eacute;c&eacute;dent</a>
    {% endif %}
    {% if page.previous.url and page.next.url %}
      |
    {% endif %}
    {% if page.previous.url %}
      <a href="{{ page.previous.url }}">Suivant &raquo;</a>
    {% endif %}
  </div>

</div>
